<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658520282548-72g7j5ld0g266vpu26qdabnjaoeuiv69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658520282548-72g7j5ld0g266vpu26qdabnjaoeuiv69</string>
	<key>API_KEY</key>
	<string>AIzaSyDQnHXSBmoffX79NFujS_X2CAjYXKa04f0</string>
	<key>GCM_SENDER_ID</key>
	<string>658520282548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learningretentiondemo.com</string>
	<key>PROJECT_ID</key>
	<string>learningretention-95012</string>
	<key>STORAGE_BUCKET</key>
	<string>learningretention-95012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658520282548:ios:a354a6097825c2b9680ee1</string>
</dict>
</plist>